@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 270px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

p {
  font-family: $font-family-serif;
  font-size: 18px;
}